In [1]:
import snowflake.connector
import csv
import pandas as pd
import numpy as np

In [2]:
ctx = snowflake.connector.connect(
    user='ssamichya',
    password='Lisnepal@2021',
    account='em35717.ap-south-1.aws',
    )

cursor = ctx.cursor()

In [3]:
data_sales = pd.read_csv("E:/sales_csv.csv")

In [4]:
data_sales

,ID,STORE_ID,PRODUCT_ID,CUSTOMER_ID,TRANSACTION_TIME,QUANTITY,AMOUNT,DISCOUNT
0,1,3,17,2.0,2021-11-11 13:39:14,12,28196.55,2819.66
1,2,4,15,5.0,2021-11-10 13:23:01,9,18034.61,901.73
2,3,2,11,5.0,2020-12-12 22:48:06,11,19433.22,971.66
3,4,2,1,3.0,2021-12-13 06:27:49,6,3623.98,181.20
4,5,4,4,NaN,2021-12-10 21:03:17,3,10707.11,535.36
...,...,...,...,...,...,...,...,...
95,96,3,1,6.0,2020-11-11 19:04:13,7,2337.76,116.89
96,97,2,17,3.0,2021-11-13 16:41:46,6,25751.48,2575.15
97,98,1,14,6.0,2020-12-11 17:02:26,5,13475.45,673.77
98,99,4,2,5.0,2020-12-11 00:11:49,4,17431.74,871.59
99,100,4,9,NaN,2021-12-12 20:25:58,8,28518.20,2851.82